.outerContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #19171d;
}

.container--chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #1a1d21;
  border-radius: 30px;
  height: 60%;
  width: 35%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container--chat {
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .outerContainer {
    flex-wrap: nowrap;
  }
  .container {
    width: 60%;
  }
}
