.messageBox {
  background: #f3f3f3;
  padding: 7px 15px;
  color: white;
  /* display: inline-block; */
  max-width: 80%;
  margin: 10px 0;
}
.left {
  border-radius: 15px 15px 15px 0;
}
.right {
  border-radius: 15px 15px 0 15px;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1.5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.3px;
  font-size: 10px;
}
.message--currentUser {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pl-10 {
  padding-left: 10px;
  flex-wrap: nowrap;
}

.pr-10 {
  flex-wrap: nowrap;
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: var(--fontColor);
}

.colorDark {
  color: var(--black);
}

.backgroundBlue {
  background: #2979ff;
}

.backgroundLight {
  background: #f3f3f3;
}

/*--------------------
Avatar
--------------------*/

.message--avatar {
  /* position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px; */
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.right--avatar {
  margin-left: 1.5%;
}
.left--avatar {
  margin-right: 1.5%;
}
.message--avatar img {
  width: 100%;
  height: auto;
}
