.form--bar {
  display: flex;
  height: var(--chatFoooter-size);
}

.input--bar {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 85%;
  height: var(--chatFoooter-size) !important;
  font-size: 1.2em;
  background: var(--dark-transparent);
  color: white;
}

input--bar:focus,
textarea:focus,
select:focus {
  outline: none;
}
textarea:focus,
input:focus,
button:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  background: var(--dark-transparent);
  padding: 1px;
  display: inline-block;
  border: none;
  width: 15%;
  cursor: pointer;
  height: var(--chatFoooter-size);
}
.sendButton:hover {
  background: var(--primary-color);
}
.sendIcon {
  width: 35px;
  height: 35px;
}
