.alert {
  width: 50%;
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  text-align: center;
  font-size: 1.3rem;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: var(--fontColor);
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--cardBG);
  color: var(--fontColor);
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--navBg);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background-color: #28a745;
  color: #fff;
}
