.sidebar--Container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: white;
  height: 60%;
  justify-content: flex-start;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.sidebar--Container h1 {
  margin-bottom: 0px;
  text-align: center;
}
.activeUsers {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 1rem;
}
.onlineIcon {
  color: lightgreen;
  font-size: 1rem;
}
.sidebar--header {
  height: 60px;
  padding: 0 30px;
  background-color: #201f22;
}
.sidebar--header h1 {
  line-height: 100%;
}

@media (max-width: 768px) {
  .sidebar--Container {
    display: none;
  }
}
